body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(120deg, #2980b9, #8e44ad, #2980b9, #8e44ad);
  background-position: 0% 50%;
  background-size: 400% 400%;
  height: 100vh;
  overflow: hidden;
}

#menu_button {
  position: absolute;
  top: 5px;
  width: 50px;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: whitesmoke;
  transition: 200ms;
  z-index: 10;
}

#menu_button.toggled {
  transform: translate(10%) !important;
  transform: scale(0.8) !important;
  border-radius: 25px !important;
  transition: 1s !important;
}

#menu_button:hover {
  transform: scale(1.1);
  transition: 200ms;
}

#menu_button:active {
  background-color: #cccccc;
  transform: scale(1.1);
  transition: 200ms;
}

#bars {
  margin-top: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#bars div[class="bar"] {
  background-color: #202020;
  height: 2px;
  width: 60%;
  border-radius: 2px;
}

#menu.toggled {
  transform: translate(0%) !important;
  transition: all 1s;
}

#menu {
  position: absolute;
  height: 100%;
  width: 300px;
  transform: translate(-100%);
  background-color: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 1s;

  display: flex;
  flex-direction: column;
}

#menu h2 {
  margin-top: 20px;
  word-wrap: break-word;
  margin-inline: auto;
}

#menu div[class="bar"] {
  height: 2px;
  width: 100%;
  background-color: #606060;
}

#menu a {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#options {
  display: flex;
  flex-direction: column;
}

#options div[class="option"] {
  border-bottom: solid #606060;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  cursor: pointer;
  transition: 200ms;
}

#options div[class="option"]:hover {
  background-color: #a0a0a0;
  transition: 200ms;
  user-select: none;
}

#main {
  margin: 60px;
  margin-top: 0px;
  transition: all 1s;
}

#main.menu_open {
  margin-left: 300px;
}

#articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 100vh;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

#articles::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#articles div[class~="article"] {
  flex: 1 0 500px;
  width: 200px;
  height: fit-content;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
}

#articles div[class~="article"]:hover {
  flex: 10 0 500px;
  transition: 1s;
}

#articles img {
  flex: 1;
  width: 100%;
  border-radius: 5px;
}

.article div[class="article_name"] {
  margin-top: 10px;
  text-align: center;
  font-size: larger;
}

.article div[class="price"] {
  text-align: end;
  color: red;
  visibility: hidden;
}
