<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/effects.css">
    <title>Prout</title>
</head>

<body class="running_gradient">
    <div class="center">
        <h1>Login</h1>
        <form class="login_form" onsubmit="onSubmit(); return false;">
            <div class="txt_field">
                <input type="text" name="username" id="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="container">
                <input type="submit" value="Login" id="login_button">
            </div>
            <div id="error"></div>
        </form>
    </div>
    <div id="spinny_boi">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script type="text/javascript" src="src/client_utils.js"></script>
    <script type="text/javascript" src="src/client_login.js"></script>
</body>

</html>