---
import Button from "../components/Button.astro";
import TextField from "../components/TextField.astro";
import Transition from "../components/Transition.astro";
import FormBox from "../layouts/FormBox.astro";
import GradientBackground from "../layouts/GradientBackground.astro";
import Main from "../layouts/Main.astro";
import { isAuthorized } from "../model/utils";

if (isAuthorized(Astro.request)) return Astro.redirect("/app");

const error = Astro.url.searchParams.get("error") || "";
---

<Main title="Login">
	<form method="post" action="../api/login">
		<FormBox title="Login">
			<TextField placeholder="Username" type="text" name="username" required />
			<TextField
				placeholder="Password"
				type="password"
				name="password"
				required
			/>
			<Button text="Login" />
			<div id="error">{error}</div>
			<div class="signup_link">
				Not a memeber ? <a id="register_link" href="register">Signup</a>
			</div>
		</FormBox>
	</form>
</Main>
<Transition />
<style>
	.signup_link {
		margin: 30px 0;
		text-align: center;
		font-size: 16px;
		color: #666666;
	}

	.signup_link a {
		color: #2691d9;
		text-decoration: none;
		cursor: pointer;
	}

	.signup_link a:hover {
		text-decoration: underline;
	}

	#error {
		color: red;
		text-align: center;
		font-size: small;
		margin-top: 5px;
	}
</style>
