---
export interface Props {
    message: string,
    color: string
}

const { message, color } = Astro.props;
---

<div id="bottom_popup">
    <div id="message">
        {message}
    </div>
</div>
<style define:vars={{color}}>
    #bottom_popup {
        position: absolute;
        width: 85%;
        overflow: hidden;
        bottom: 0;
        right: 0;
        padding-bottom: 10px;
        transform: translateY(100%);

        transition: 500ms ease-in-out;
    }

    #bottom_popup.visible {
        transform: translateY(0%);
    }

    html.is-leaving #bottom_popup {
        transform: translateY(100%);
    }

    #message {
        padding-inline: 15px;
        padding-block: 8px;
        background-color: whitesmoke;
        border: 2px solid gray;
        border-radius: 20px;
        text-align: center;
        margin: auto;
        width: fit-content;
        padding-inline: 40px;
        color: var(color);
        font-size: larger;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
</style>