---
import NavigationItem from './NavigationItem.astro';

export interface Props {
    selected_index?: number;
}

const { selected_index } = Astro.props;

let is_so = false;
const referer = Astro.request.headers.get('referer');
if (referer) {
    const uri = new URL(referer);

    is_so = uri.pathname.startsWith('/app');
}
---
<link rel="stylesheet" href="/style.css">
<div class={`vbox ${is_so ? "transitionless" : ""}`} id="navbar">
    <img src="/icon/logo.svg" alt="logo"class="navbar_logo" />
    <div class="vbox" style="justify-content:space-between; flex-grow: 1;">
        <div class="vbox">
            <NavigationItem text="Search" icon="/icon/search.svg" href="/app/search" selected={selected_index == 0} id="search-button"/>
            <NavigationItem text="Library" icon="/icon/dvd.svg" href="/app/library" selected={selected_index == 1} id="library-button" />
            <NavigationItem text="Settings" icon="/icon/settings.svg" href="/app/settings" selected={selected_index == 2} id="settings-button" />
        </div>
        <NavigationItem text="Disconnect" icon="/icon/disconnect.svg" href="/app/disconnect" id="disconnect-button"/>
    </div>
</div>
<script define:vars={{selected_index}}>
    const disconnect_button = document.getElementById('disconnect-button');
    disconnect_button.addEventListener('click', () => {
        document.getElementById('navbar').classList.add('disconnecting');
    });

    const search_button = document.getElementById('search-button');
    const library_button = document.getElementById('library-button');
    const settings_button = document.getElementById('settings-button');
    const buttons = [search_button, library_button, settings_button];

    function onButtonPressed(index) {
        if (index == selected_index) return;
        
    }

    search_button.addEventListener('click', () => {
        onButtonPressed(0);
    });
    library_button.addEventListener('click', () => {
        onButtonPressed(1);
    });
    settings_button.addEventListener('click', () => {
        onButtonPressed(2);
    });
</script>
<style>
    #navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        height: 100%;
        transform: translate(-100%, 0%);
        background-color: whitesmoke;
        border-right: 2 px solid lightgray;
        transition: 500ms;
    }

    html.is-loaded #navbar {
        transform: translate(0%, 0%);
    }

    html.is-refreshed #navbar {
        transform: translate(0%, 0%);
        transition: none;
    }

    html.is-leaving #navbar.disconnecting {
        transform: translate(-100%, 0%);
        transition: all 500ms;
    }

    #navbar.transitionless {
        transform: translate(0%, 0%);
        transition: none;
    }

    .navbar_logo {
        width: 50%;
        margin-inline: auto;
        padding: 10px;
        padding-bottom: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>