---
import NavigationItem from './NavigationItem.astro';

export interface Props {
    selected_index?: number;
}

const { selected_index } = Astro.props;

let is_so = false;
const referer = Astro.request.headers.get('referer');
if (referer) {
    const uri = new URL(referer);

    is_so = uri.pathname.startsWith('/app');
}
---
<link rel="stylesheet" href="../style.css">
<div class={`vbox ${is_so ? "transitionless" : ""}`} id="navbar">
    <img src="../icon/logo.svg" alt="logo"class="navbar_logo" />
    <div class="vbox" style="justify-content:space-between; flex-grow: 1;">
        <div class="vbox">
            <NavigationItem text="Search" icon="../icon/search.svg" href="search" selected={selected_index == 0}/>
            <NavigationItem text="Library" icon="../icon/dvd.svg" href="library" selected={selected_index == 1}/>
            <NavigationItem text="Settings" icon="../icon/settings.svg" href="settings" selected={selected_index == 2}/>
        </div>
        <NavigationItem text="Disconnect" icon="../icon/disconnect.svg" href="disconnect" id="disconnect-button"/>
    </div>
</div>
<script>
    const disconnect_button = document.getElementById('disconnect-button');
    disconnect_button.addEventListener('click', () => {
        document.getElementById('navbar').classList.add('disconnecting');
    });
</script>
<style>
    #navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        height: 100%;
        transform: translate(-100%, 0%);
        background-color: whitesmoke;
        border-right: 2 px solid lightgray;
    }

    html.is-loaded #navbar {
        transform: translate(0%, 0%);
        transition: 500ms;
    }

    html.is-refreshed #navbar {
        transform: translate(0%, 0%);
    }

    html.is-leaving #navbar.disconnecting {
        transform: translate(-100%, 0%);
        transition: 500ms;
    }

    #navbar.transitionless {
        transform: translate(0%, 0%);
        transition: none;
    }

    .navbar_logo {
        width: 50%;
        margin-inline: auto;
        padding: 10px;
        padding-bottom: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>