---
import TextField from "./TextField.astro";
import { SubCategories } from "node-yggtorrent";

/**
 * Replaces the _ with spaces and only keeps the first letter uppercase
 */
function formatCategoryName(name: string) {
    return name.toLowerCase().replace(/_/g, " ").replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()).replace('Tv', 'TV');
}
---
<div class="hbox search-bar">
    <div class="name-field">
        <TextField placeholder="Search" type="text" name="search" required/>
    </div>
    <select class="minimal">
        <option disabled selected>Select a category</option>
        {
            Object.keys(SubCategories.FILM_VIDEO).map((key) => {
                return <option value={key}>{formatCategoryName(key)}</option>
            })
        }
    </select>
</div>
<style>
    .search-bar {
        margin-left: 16%;
        width: 100%;
        padding-block: 16px;
        animation: 500ms ease-out 0s 1 slideInFromTop;
        gap: 2%;
    }

    .name-field {
        height: 60px;
        flex-grow: 0.3;
        background-color: whitesmoke;
        border: 1px solid #ccc;
        border-radius: 35px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-inline: 20px;
        display: flex;
        align-items: center;
    }

    html.is-refreshed .search-bar {
        animation: none;
    }

    html.is-leaving .search-bar {
        transform: translate(0, -150%);
        transition: 500ms ease-in;
    }

    @keyframes slideInFromTop {
        0% {
            transform: translateY(-150%);
        }
        100% {
            transform: translateX(0);
        }
    }

    /** SELECTS */

    select {

        /* styling */
        background-color: whitesmoke;
        border: 1px solid #ccc;
        border-radius: 35px;
        display: inline-block;
        font-family: inherit;
        line-height: 1.5em;
        padding: 0.5em 3.5em 0.5em 1em;
        font-size: larger;
        /* reset */

        margin: 0;      
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    select.minimal {
       
    }

    select.minimal:focus {
        outline: 0;
    }
</style>