---
import TextField from "./TextField.astro";
import { SubCategories } from "node-yggtorrent";
import Button from "./Button.astro";
import SelectMenu from "../layouts/SelectMenu.astro";

/**
 * Replaces the _ with spaces and only keeps the first letter uppercase
 */
function formatCategoryName(name: string) {
    return name.toLowerCase().replace(/_/g, " ").replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase()).replace('Tv', 'TV');
}
---
<link rel="stylesheet" href="/style/utils.css">
<form class="hbox no-transition" id="search-bar" method="get">
    <div class="container name-field">
        <TextField placeholder="Search" type="text" name="search" required/>
    </div>
    <div class="container category-field">
        <SelectMenu name="category" placeholder="Category" required>
            <option value="" selected disabled hidden></option>
            {
                Object.keys(SubCategories.FILM_VIDEO).map((key) => {
                    return <option value={key}>{formatCategoryName(key)}</option>
                })
            }
        </SelectMenu>
    </div>
    <div class="button vbox">
        <Button text="Search"/>
    </div>
</form>
<style>
    #search-bar {
        margin-left: 1%;
        width: 95%;
        padding-block: 16px;
        justify-content: space-between;
    }

    html.is-loaded #search-bar {
        animation: 500ms ease-out 0s 1 slideInFromTop;
    }

    .container {
        height: 60px;
        background-color: whitesmoke;
        border: 1px solid #ccc;
        border-radius: 35px;
        padding-left: 5px;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-inline: 20px;
        display: flex;
        align-items: center;
    }

    .name-field {
        flex-grow: 0.6;
    }

    .category-field {
        flex-grow: 0.1;
    }

    html.is-refreshed #search-bar {
        animation: none;
    }

    html.is-leaving #search-bar {
        transform: translate(0, -150%);
        transition: 500ms ease-in;
    }

    .button {
        min-height: 100%;
        flex-grow: 0.2;
        justify-content: center;
        align-items: center;
    }

    @keyframes slideInFromTop {
        0% {
            transform: translateY(-150%);
        }
        100% {
            transform: translateX(0);
        }
    }
</style>