---
import LoadingBoi from "../../components/LoadingBoi.astro";
import NavBar from "../../components/NavBar.astro";
import SearchBar from "../../components/SearchBar.astro";
import Transition from "../../components/Transition.astro";
import GradientBackground from "../../layouts/GradientBackground.astro";


---
<script defer>

function movieElement(movie) {
    const out = document.createElement("div");
    out.classList.add("vbox", "movie");

    const image_fallback = "../assets/placeholder.jpg";
    let image_url = movie.image ? movie.image : image_fallback;
    out.innerHTML = `
        <div class="poster-container">
            <img src="${image_url}" alt="${movie.title}" onerror="this.onerror=null;this.src='${image_fallback}'">
        </div>
        <div class="spacer"></div>
        <div class="vbox movie-info">
            <h3>${movie.title || movie.baseName}</h3>
            <p>${movie.year || ""}</p>
        `
    return out;
}

/**
 * @param { SubmitEvent } event
 */
async function onSearch(event) {
    event.preventDefault();
    
    const loadingBoi = document.getElementById("loading-boi");
    loadingBoi.classList.add("visible");

    const query =  Object.fromEntries(new FormData(event.target));

    const response = await fetch("../api/search", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            query,
        }),
    });

    const results = (await response.json()).results;

    console.log(results);

    loadingBoi.classList.remove("visible");

    const container = document.getElementById("search-results");
    for (const result of results) {
        container.appendChild(movieElement(result));
    }
}

document.addEventListener("DOMContentLoaded", () => {
    const searchBar = document.getElementById("search-bar");
    searchBar.addEventListener("submit", onSearch);
});

</script>
<link rel="stylesheet" href="../movie.css" />
<Transition />
<GradientBackground title="jaajTV | Search">
    <NavBar selected_index={0}/>
    <div class="vbox full-height full-width">
        <SearchBar />
        <div id="search-results" class="hbox wrap">
            <div style="position:static; margin: auto;" id="loading-boi">
                <LoadingBoi />
            </div>
        </div>
    </div>
</GradientBackground>
<style>
    #search-results {
        overflow-y: auto;
        padding-block: 1rem;
        padding-right: 1rem;
        padding-left: 3rem;
        margin-left: 15%;
        width: 85%;
        height: 100%;
    }

    #loading-boi {
        display: none;
        opacity: 0;
        transition: 1s;
    }

    #loading-boi.visible {
        display: block;
        animation: scale-in 1s forwards;
    }

    @keyframes scale-in {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>