---
import NavBar from "../components/NavBar.astro";
import GradientBackground from "./GradientBackground.astro";

export interface Props {
	title: string;
    selected_index: number;
}

const { title, selected_index } = Astro.props;
---
<GradientBackground title={title}>
    <NavBar selected_index={selected_index}/>
    <main data-barba="container" class="vbox full-height" style="margin-left: 15%; width: 85%">
        <slot />
    </main>
    <script>
        import barba from '@barba/core';

        barba.init({
            transitions: [{
                name: 'fade',
                leave(data) {
                    return new Promise(resolve => setTimeout(resolve, 500));
                },
                enter(data) {
                    data.next.container.style.opacity = "0";
                    return new Promise(resolve => setTimeout(resolve, 50));
                }
            }]
        });
    </script>
</GradientBackground>
