---
import NavBar from "../components/NavBar.astro";
import GradientBackground from "./GradientBackground.astro";

export interface Props {
	title: string;
    selected_index: number;
}

const { title, selected_index } = Astro.props;
---
<GradientBackground title={title}>
    <NavBar selected_index={selected_index}/>
    <main data-barba="container" class="vbox full-height" style="margin-left: 15%; width: 85%" data-barba-namespace="app">
        <slot />
    </main>
</GradientBackground>
