---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="formbox">
	<h1>{title}</h1>
	<slot />
</div>
<style>
	.formbox {
		margin: auto;
		width: 400px;
		background: whitesmoke;
		border-radius: 10px;
		padding: 0 40px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}
	.formbox h1 {
		text-align: center;
		padding-block: 15px;
		border-bottom: 1px solid silver;
	}

	
	html.is-leaving .formbox {
		transform: translate(-270%, 0%) !important;
		transition: 500ms ease-in;
	}

	html.is-loading .formbox {
		animation: slidein 500ms ease-out forwards;
	}

	@keyframes slidein {
		0% {
			transform: translate(270%, 0%);
		}
		100% {
			transform: translate(0%, 0%);
		}
	}
	
</style>
