---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="center">
	<h1>{title}</h1>
	<slot />
	<div id="error"></div>
</div>
<style>
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 400px;
		background: whitesmoke;
		border-radius: 10px;
		padding: 0 40px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}
	.center h1 {
		text-align: center;
		padding: 0 0 20px 0;
		border-bottom: 1px solid silver;
	}
</style>
