---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="formbox">
	<h1>{title}</h1>
	<slot />
</div>
<style>
	.formbox {
		width: 400px;
		background: whitesmoke;
		border-radius: 10px;
		padding: 0 40px;
		padding-bottom: 10px;
		box-sizing: border-box;
	}
	.formbox h1 {
		text-align: center;
		padding-block: 20px;
		border-bottom: 1px solid silver;
	}

	html.is-leaving .formbox {
		transform: translateX(-80vw) !important;
		transition: 500ms ease-in;
	}

	html.is-loaded .formbox {
		animation: slide-in 500ms ease-out;
	}

	html.is-refreshed .formbox {
		transform: translateX(0%);
		transition: 0;
	}

	@keyframes slide-in {
		0% {
			transform: translateX(80vw);
		}
		100% {
			transform: translateX(0%);
		}
	}
</style>
