---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>

<body class="running_gradient">
	<slot />
	<style>
		.running_gradient {
			animation: gradient 15s ease infinite;
			margin: 0;
			padding: 0;
			background: linear-gradient(120deg, #2980b9, #8e44ad, #2980b9, #8e44ad);
			background-position: 0% 50%;
			background-size: 400% 400%;
			height: 100vh;
			overflow: hidden;
		}

		html.is-leaving .running_gradient {
			animation: pause_gradient 500ms ease 1;
		}

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}

		@keyframes pause_gradient {
			from {
				background-position: 100% 50%;
			}
			to {
				background-position: 0% 50%;
			}
			}
	</style>
</body>
</html>
