---
export interface props {
	name: string;
    placeholder: string;
	required?: boolean;
}

const { placeholder, name, required } = Astro.props;
---

<div class="select_menu">
	<select name={name} id={name} {required}>
        <slot />
    </select>
    <span></span>
    <label>{placeholder}</label>
</div>
<style>
	.select_menu {
		position: relative;
		border-bottom: 2px solid #adadad;
		width: 100%;
		margin: 30px 0;
	}

	.select_menu select {
		width: 100%;
		padding: 0 5px;
		height: 40px;
		font-size: 16px;
		border: none;
		background: none;
		outline: none;
	}

	.select_menu label {
		position: absolute;
		top: 50%;
		left: 5px;
		color: #adadad;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		transition: 0.5s;
	}

	.select_menu span::before {
		content: "";
		position: absolute;
		top: 40px;
		left: 0;
		width: 0%;
		height: 2px;
		background: #2691d9;
		transition: 0.5s;
	}

	.select_menu select:focus ~ label,
	.select_menu select:valid ~ label {
		top: -5px;
		color: #2691d9;
	}

	.select_menu select:focus ~ span::before,
	.select_menu select:valid ~ span::before {
		width: 100%;
	}
</style>
